<form>
  <div class="form-group">
    <label for="input91">Client Name</label>
    <input type="text" class="form-control" [(ngModel)]="clientName" id="input91" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="input92">Phone Number</label>
    <input type="number" class="form-control" [(ngModel)]="clientPhoneNumber" id="input92" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Job Type</label>
	<select class="form-control" [(ngModel)]="jobType" id="exampleSelect1">
	  <option>Carpentry</option>
	  <option>Plumbing</option>
	  <option>Mechanic</option>
	  <option>Electrician</option>
	</select>
  </div>
  <div class="form-group">
    <label for="input93">Date</label>
    <input type="text" class="form-control" [(ngModel)]="estimateDate" id="input93" placeholder="Date">
  </div> 
  <div class="form-group">
    <label for="input94">Estimate Cost</label>
    <input type="number" class="form-control" [(ngModel)]="estimatePrice" id="input94" placeholder="Cost">
  </div> 
    
  <div class="form-group" align="right">
  <button type="button" class="btn btn-primary btn-raised"(click)="changeShowStatus()">Ballpark</button>
  </div>
  
  <div class="form-group" align="right" *ngIf="!showBallpark">
  <p>+/-
  <input type="text" style="width: 60px" class="form-control" [(ngModel)]="ballpark" id="ballpark" placeholder="0.0"></p>
  <p>Total: {{ this.estimatePrice - (this.ballpark * this.estimatePrice)}} - {{ (this.ballpark * this.estimatePrice) + this.estimatePrice }}</p>
  </div>
  <p>{{this.estimatePrice}}</p>
  <p>{{this.jobType}}</p>
  <p>{{this.clientName}}</p>
  
  
  
  <div class="button-wrapper">
  <button type="button" onclick="sendPost()" class="btn btn-success">Submit</button>
  </div>
</form>
