<div class="widgets">

<form>
  <div class="form-group">
    <label for="input91">Full Name</label>
    <input type="text" class="form-control" ng-model="cName" id="input91" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="input93">Company Name</label>
    <input type="text" class="form-control" ng-model="coName" id="input93" placeholder="Date">
  </div> 
    <div class="form-group">
    <label for="input92">Phone Number</label>
    <input type="number" class="form-control" ng-model="cPhoneNumber" id="input92" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label for="input94">Company Address</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" ng-model="inputcadd1" id="inputcadd1" placeholder="Address Line 1">

          <input type="text" class="form-control" ng-model="inputcadd2" id="inputcadd2" placeholder="Address Line 2"> 
        
          <input type="text" class="form-control" ng-model="inputcaddc" id="inputcaddc" placeholder="City">
        
          <input type="text" class="form-control" ng-model="inputcadds" id="inputcadds" placeholder="State"> 
        
          <input type="text" class="form-control" ng-model="inputcaddz" id="inputcaddz" placeholder="Zipcode"> 
        </div>	
  </div> 
  <div class="button-wrapper">
  <button type="button" onclick="sendPost()" class="btn btn-success">Submit</button>
  </div>
</form>


  <!--<div class="row">
    <div class="col-md-6">
      <div>
        <ba-card cardTitle="Basic Form" baCardClass="with-scroll">
          <basic-form></basic-form>
        </ba-card>
      </div>

      <div>
        <ba-card cardTitle="Horizontal Form" baCardClass="with-scroll">
          <horizontal-form></horizontal-form>
        </ba-card>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <ba-card cardTitle="Form Without Labels" baCardClass="with-scroll">
          <without-labels-form></without-labels-form>
        </ba-card>
      </div>
      <div>
        <ba-card cardTitle="Block Form" baCardClass="with-scroll">
          <block-form></block-form>
        </ba-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ba-card cardTitle="Picture Uploader" baCardClass="with-scroll">
        <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
      </ba-card>
    </div>
    <div class="col-md-6">
      <ba-card cardTitle="File Uploader" baCardClass="with-scroll">
        <ba-file-uploader [fileUploaderOptions]="fileUploaderOptions"></ba-file-uploader>
      </ba-card>
    </div>
  </div>-->
</div>
